---
import { getOffre } from "../../backend.mjs";
import Base from "../../layouts/Base.astro";
const { id } = Astro.params;
const offre = await getOffre(id);
if(!offre){
   return Astro.redirect('/offres');}
import {bySurface} from "../../backend.mjs"
---

<Base titre={offre.nom_maison}>
  <h2>{offre.nom_maison}</h2>
  <ul>
    <li>{offre.adresse_maison}</li>
    <li>{offre.superficie_maison} m2</li>
  </ul>
</Base>
